.nav {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.sign_out {
  height: 37px;
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}
